# Terraform
####################
# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore Terraform plan output files
*.tfplan

# Ignore override files as they can contain sensitive information
override.tf
override.tf.json

# Ignore Terraform crash log files
crash.log

# Ignore .terraform directories
.terraform/

# Lambda functions
####################
# If you're using Python, Node.js, or other languages for Lambda, their common ignore items should be added.
*.zip   # If you're zipping your Lambda functions

# Node.js specific (if you're using it)
node_modules/
npm-debug.log

# Python specific (if you're using it)
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg

# General & Environment files
####################
# OS files
.DS_Store
Thumbs.db

# IDE files (depending on which IDE you use)
.vscode/
.idea/

# Secrets or environment files
.env
*.pem
*.cert